.navbar-brand{
    height: 60px;
    width: 20vw;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:darkcyan;
}
.navbar{
    height: 8rem;
    width: 100vw;
    margin-left: 20px;
    border:1px solid black;
    background-color: rgb(58, 56, 56);
}
.external-nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item{
   height:100%;
   width: 8vw;
   font-size: 1.7rem;
   display: flex;
   justify-content: center;
   color:white
    /* border-left: 1px solid black; */
    
}
.nav-item :hover{
     background-color: black;
     color: white
}
.nav-input{
    width:60vw;
    height:30px;
    background-color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
       border:solid 1px black;
       color:rgb(153, 145, 145);
       padding:5px;
}
.nav-input-container{
    width: 80vw;
    height: 50px;
   background-color: rgb(58, 56, 56);
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-button{
    width:10vw;
    height:30px;
    background-color: rgb(49, 44, 44);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.6em 2em;
    border-radius: 8px;
    color:white;
    -moz-border-radius: 15px;
    border-radius: 15px;
       border:solid 1px black;
       padding:5px;
}
.nav-button:hover{
    cursor: pointer;
    transform: scale(1.02);
}